<div id="menu" class="banner">
  <div class="follow_container">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="top-title">Our Menu</h2>
    </div>
  </div>
</div>
<div class="container">
  <section id="section-menu">
    <div>
      <ul class="filter-list" class="clearfix">
        <li class="filter active" data-filter="all">All</li>
        <% @sections.each do |section|%>
        <li class="filter" data-filter=".<%= section.name.downcase %>"><%= section.name %></li>
        <% end %>
      </ul>
    </div>
    <div>
      <ul class="filter-list" class="clearfix">
        <li class="sort active" data-sort="name:asc"><i class="fa fa-sort-alpha-asc"></i></li>
        <li class="sort" data-sort="name:desc"><i class="fa fa-sort-alpha-desc"></i></li>
        <li class="sort" data-sort="value:asc"><i class="fa fa-sort-amount-asc"></i></li>
        <li class="sort" data-sort="value:desc"><i class="fa fa-sort-amount-desc"></i></li>
      </ul>
    </div>

    <div id="">
      <ul id="list-menu">
        <%= render @menu_items %>
      </ul>
    </div>

  </section>
  
</div>