@import 'mixin';
#main-menu{
	border-radius: 0;
	padding: 10px;
	.navbar-brand{
		font-family: 'Pacifico', cursive;
		font-size: 34px;
		color: white;
	}
	.navbar-brand:hover, .navbar-brabd:focus{
		color: #9d9d9d;
	}
	li {
		>a {
			color: white;
			font-weight: bold;
			@include transition(color, .3s);
		}
		>a:hover,>a:focus{
			color: #96E16B;
		}
	}
	li.active{
		a{
			color: #96E16B;
		}
	}
}