<div id="home-top">
	<div class="follow_container">
		<div class="col-md-6 col-md-offset-3">
			<h2 class="top-title"> Restaurant</h2>
			<h2 class="white second-title">" Best in the city "</h2>
			<hr>
		</div>
	</div>
    <div id="scroll-down">
        <a href="#about-us" class="color_animation">
            <b>DISCOVERY</b><br>our restaurant<br>
            <i class="fa fa-chevron-down"></i>
        </a>
    </div>
</div>
<section id="about-us" class="description_content">
    <div class="text-content container">
        <div class="col-md-6">
            <h1>About us</h1>
            <p class="text-center"><i class="fa fa-cutlery fa-2x"></i></p>
            <p class="desc-text">Restaurant is a place for simplicity. Good food, good beer, and good service. Simple is the name of the game, and we’re good at finding it in all the right places, even in your dining experience. We’re a small group from Denver, Colorado who make simple food possible. Come join us and see what simplicity tastes like.</p>
        </div>
        <div class="col-md-6">
            <div class="img-section">
            	<%= image_tag 'kabob.jpg', :width => 250, :height => 220 %>
            	<%= image_tag 'limes.jpg', :width => 250, :height => 220 %>
            	<div class="img-section-space"></div>
            	<%= image_tag 'radish.jpg', :width => 250, :height => 220 %>
            	<%= image_tag 'corn.jpg', :width => 250, :height => 220 %>
           </div>
        </div>
    </div>
</section>
<section class="social_connect">
    <div class="text-content container"> 
        <div class="col-md-6">
            <span class="social_heading">FOLLOW</span>
            <ul class="social_icons">
                <li><a class="fa fa-facebook color_animation" href="#" target="_blank"></a></li>
                <li><a class="fa fa-twitter color_animation" href="#" target="_blank"></a></li>
                <li><a class="fa fa-google-plus color_animation" href="#" target="_blank"></a></li>
                <li><a class="fa fa-pinterest color_animation" href="#"></a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <span class="social_heading">OR DIAL</span>
            <span class="social_info"><a class="color_animation" href="tel:883-335-6524">(941) 883-335-6524</a></span>
        </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.0690198249563!2d106.69313035054901!3d10.729160062960256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fbc00a6fbcf%3A0x213ee4fb8ef99b50!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBRdeG7kWMgdOG6vyBSTUlU!5e0!3m2!1svi!2s!4v1458320901372" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>
