#home-top{
    padding: 0;
    min-width: 100%;
    height: 100%;
    background: image-url('steak.jpg') no-repeat center center;
    background-size: cover;
    text-align: center;
    background-position: center;
    position: relative;
}

#scroll-down{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    color: white;
    font-weight: 16px;
}

.description_content {
    padding: 30px 0 75px 0;
    width: 100%;
    background: #fff;
    margin: 0 auto 0 auto;
    z-index: 99;
    position: relative;
    background: white;
    text-align: center;
}
.img-section{
    text-align: center;
    img{
        padding: 5px;
        font-size: 0;
    }
}

section.social_connect {
    background-color: black;
    text-align: center;
    margin: 50px 0;
}
.text-content.container {
    margin-top: 65px;
    margin-bottom: -51px;
}
.social_heading {
    font-size: 33px;
    margin: 50px 0 0 0;
    font-weight: 900;
    letter-spacing: 0.040em;
    color: #63C85D;
    text-align: center;
    display: block;
}
.social_info, .social_icons {
    margin: 18px 0 50px 0;
}

.social_info a {
    display: inline-block;
    margin: 0 auto;
    width: 325px;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 0.200em;
    line-height: 1.400em;
    text-decoration: none;
}

iframe{
    pointer-events: none;
}